*{
    margin: 0%;
    width: 0%;
}

.SideNavBar{
    height: 100vh;
    width: 20vw;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.img{
    height: 200px;
    width: 200px;
    position: relative;
    background-color: aliceblue;
    margin-top: 20px;
}

img{
    height: 200px;
    width: 200px;
}

.temp {
    height: 200px;
    width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.degree{
    display: flex;
    justify-content: space-around;
    align-items: start;
    height: 50%;
    width: inherit;
    background-color: white;
    margin-top: 40px;
}

.time{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 50%;
    width: 100%;
    margin-top: 20px;
}

.line{
    height: 50px;
    width: 95%;
    border-top: 2px solid rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h2{
    display: inline-block;
    height: auto;
    width: auto;
}

p{
    display: inline-block;
    height: auto;
    width: auto;
}